.product_item {
   padding: 40px 0 40px;
}

.product_container {
   margin: 30px 40px;
   padding: 0 20px;
   max-width: 100%;
   width: 100%;
}

.product_container h2 {
   color: darkorange;
   font-size: 36px;
   font-weight: 500;
   margin-bottom: 40px;
}

.info_wrapper {
   padding: 0 60px;
   margin-top: 60px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 60px;

}

.img_wrapper {
   flex-shrink: 0;
   max-width: 710px;
   width: 100%;
   min-height: 710px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.img_wrapper img {
   width: inherit;
   height: 100%;
   object-fit: contain;
}

.info_content {
   max-width: 412px;
}

.description {
   display: flex;
   flex-direction: column;
   gap: 40px;
   max-width: 400px;
   margin-bottom: 30px;
}

.description h3 {
   color: teal;
   font-size: 30px;
}

.description p {
   font-weight: 500;
   font-size: 18px;
}

.price_box {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   margin-bottom: 30px;
   gap: 7px;
}

.sale_price {
   font-weight: 600;
   font-size: 30px;
   color: teal;
}

.old_price {
   color: #8b8b8b;
   text-decoration: line-through;
   font-size: 28px;
   font-weight: 500;
}

.sale {
   font-size: 28px;
   color: orangered;
   font-weight: 600;
}
