.banner_container {
   width: 100%;

}

.banner_container div {
   height: 470px;
   margin: 0 auto;
   background-image: url('./Nature_Beautiful.jpg');
   background-repeat: no-repeat;
   background-size: auto;
   /* display: flex;
   flex-direction: column;
   justify-content: flex-end; */
   display: grid;
   grid-template-columns: max-content;
   gap: 30px;
   padding: 120px 0;

}

.banner_container h1 {
   /* margin: 0 auto; */
   font-size: 18px;
   text-transform: uppercase;
   font-weight: 600;
   color: gold;
   padding: 20px;
}

.info {
   font-size: 32px;
   color: white;
   font-weight: 700;
}

.info span {
   color: greenyellow;
   font-weight: 900;
}