
.banner_container {
   width: 100vw;
   height: 450px;
   margin: 0 auto;
   background-image: url('./Nature_Beautiful.jpg');
   background-repeat: no-repeat;
   background-size: auto;
   display: grid;
   grid-template-columns: max-content;
   gap: 30px;
   padding: 50px;
}

.banner_container h1 {
   font-size: 18px;
   text-transform: uppercase;
   font-weight: 600;
   color: gold;
   padding: 0 25px;
}

.info {
   font-size: 32px;
   color: white;
   font-weight: 700;
}

.info span {
   color: greenyellow;
   font-size: 50px;
   font-weight: 900;
}