
.banner_container {
   width: 100vw;
   height: 450px;
   margin: 0 auto;
   color: white;
   background-image: url('/src/media/houseplant.png');
   background-repeat: no-repeat;
   background-size: contain;
   background-position-x: right;
   background-color: #A1E2EB;
   display: grid;
   grid-template-columns: max-content;
   font-weight: 700;
   /* gap: 30px; */
   padding: 50px;
}


.banner_container h1 {
   font-size: 40px;
   /* text-transform: uppercase; */
   /* font-weight: 600; */
   /* color: gold; */
   /* padding: 0 25px; */
}

.info {
   font-size: 32px;
   /* color: white; */
   /* font-weight: 700; */
}

.info span {
   /* color: greenyellow; */
   font-size: 50px;
   /* font-weight: 900; */
}