.btn_header {
   color: white;
   background: #339933;
   border: 2px solid #339933;
   border-radius: 5px;

   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 14px 30px 15px;
   gap: 5px;

   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
}

/* --------------------- */

.btn_product {
   position: absolute;
   z-index: 30;
   max-width: 280px;
   top: 110%;
   left: 50%;
   transform: translateX(-50%);

   width: 98%;
   height: 70pxpx;
   padding: 20px 60px;

   border-radius: 10px;
   border: 1px solid darkgreen;
   background-color: yellow;
   font-weight: 600;
   font-size: 28px;
   color: orangered;
   opacity: 0.8;
   transition: all 0.5s ease;
   cursor: pointer;

}

.btn_product:hover {
   opacity: 0.4;
}

/* ------------------- */
.btn_info {
   max-width: 340px;
   width: 100%;
   height: 86px;
   padding: 20px 80px;

   background-color: lemonchiffon;
   border: 2px solid green;
   border-radius: 10px;
   color: green;
   font-weight: 600;
   font-size: 26px;
   transition: all 0.4s ease;
}

.btn_info:hover {
   background-color: greenyellow;
   color: orangered;
   border: 2px solid orangered;
}

/* ------------------- */
.btn_order {
   background-color: green;
   height: 70px;
   border-radius: 20px;
   border: 2px solid green;
   color: white;
   font-weight: 700;
   font-size: 30px;
   transition: all 0.5s ease;
   cursor: pointer;
}

.btn_order:hover {
   background-color: greenyellow;
   color: orangered;
   border: 2px solid orangered;
   box-shadow: 2px 3px 4px gray;
}

/* ------------------- */
