.container {
   display: flex;
   gap: 50px;
   align-items: center;
   flex-wrap: wrap;
   margin-bottom: 80px;
}

input,
select {
   height: 40px;
   border-radius: 7px;
   border: 1px solid gray;
   outline: none;
}

select {
   width: 220px;
   padding-left: 10px;
   color: #797979;
   margin-left: 50px;
   background-color: whitesmoke;
}

label {
   font-weight: 600;
   font-size: 20px;
   margin-right: 5px;
}

.filter_price input {
   width: 100px;
}

.price,
.discount,
.sort {
   display: flex;
   align-items: center;
}

.price input,
.sort input {
   padding-left: 10px;
}

.price {
   display: flex;
   gap: 15px;
}

.discount {
   margin-right: 80px;
}

@media (max-width: 400px) {
   select {
      margin-left: 20px;
      width: 180px;
      background-position: 165px center;
   }
}

/* -----------checkbox--------- */

.discount_title {
   position: relative;
   cursor: pointer;
   font-size: 22px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.discount_title input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;

}

.checkmark {
   position: absolute;
   top: -7px;
   right: -70px;
   height: 40px;
   width: 40px;
   border-radius: 8px;
   border: 1px solid darkgreen;
}

.discount_title:hover input~.checkmark {
   background-color: whitesmoke;
}

.discount_title input:checked~.checkmark {
   background-color: greenyellow;
}

.checkmark::after {
   content: '';
   position: absolute;
   display: none;
}

.discount_title input:checked~.checkmark::after {
   display: block;
}

.discount_title .checkmark::after {
   left: 13px;
   top: 3px;
   width: 11px;
   height: 20px;
   border: solid white;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}

/* ----------input type number-------- */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
}

/* -------------- select ------------- */
.sort select {
   appearance: none;
   -moz-appearance: none;
   -webkit-appearance: none;
   background-image: url('./arrow-down.png');
   background-repeat: no-repeat;
   background-position: 205px center;
   background-size: 10px;
}