.header_container {
   width: 100%;
   margin: 0 auto;
   display: flex;
   height: 110px;
   align-items: center;
   justify-content: space-around;
   padding: 0 20px;
   box-sizing: border-box;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
   /* background-color: rgb(242, 240, 227); */
   background-color: beige;

}

.catalog_container {
   min-width: 24%;
   display: flex;
   align-items: center;
   gap: 20px;
   justify-content: space-around;
}

.logo_container {
   min-width: 100px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-decoration: none;
}

.logo_container p {
   font-size: 12px;
   color: green;
}

.catalog_btn button {
   background: green;
   outline: #339933;
   border: none;
   border-radius: 12px;
   box-shadow: 3px 3px 4px gray;
   min-width: 120px;
   height: 40px;
   box-sizing: border-box;
   cursor: pointer;
   color: white;
   font-weight: 500;
   font-size: 18px;
   transition: all 0.3s ease-in;
}

.catalog_btn button:hover {
   background-color: greenyellow;
   color: rgb(244, 117, 6);
   font-size: 20px;
   box-shadow: 3px 3px 4px rosybrown;
   outline: none;
}

.nav {
   width: 50%;
   display: flex;
   align-items: center;
   position: relative;
}

.nav a {
   text-decoration: none;
   font-weight: 500;
   font-size: 18px;
   color: green;

}

.nav a:hover {
   text-decoration: underline dotted 2px rgb(255, 119, 0);
   color: darkorange;
   font-style: italic;
   font-size: 20px;
   font-weight: 600;
}

/* .nav .active {
   color: #339933;
   font-style: italic;
   font-weight: 600;
} */


.icon {
   width: 10%;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

@media (max-width: 768px) {
   .nav {
      flex-direction: column;
      text-align: center;
      width: 100%;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 100px;
      background-color: white;
      transform: translateY(-100%);
      transition: transform, opacity;
      transition-duration: 0.3s;
      padding: 20px 0;
      z-index: 1000;
   }

   .nav button {
      z-index: 1;
      height: 20px;
      width: 20px;
      display: block;
      position: absolute;
      top: 5px;
      right: 5px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      color: var(--gray-color);
      font-size: 20px;
   }

   /* .nav button:hover {
      color: #000000;
   } */

   .nav a {
      width: 90%;
      font-size: 22px;
      padding: 15px;
      color: gray;
      border-bottom: 1px solid lightgray;
   }

   .nav a:hover {
      text-decoration: none;
      color: #000000;
   }

   .catalog_btn button {
      min-width: 100px;
      height: 35px;
      font-size: 16px;
   }

   .catalog_container {
      gap: 25px;
   }
}

@media (max-width: 390px) {
   .catalog_btn {
      display: none;
      pointer-events: auto;
   }
}