.wrapper {
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr 4fr;
   padding: 1%;
   gap: 30%;
   height: 76px;
   min-width: 100vw;
}

.category {
   border: none;
   color: white;
   background-color: #049a77;
   width: 35%;
   height: 60%;
   border-radius: 5px;
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
}

.block {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 2%;
   width: 30%;
   padding-left: 20%;
}

.nav a {
   color: rgb(25, 46, 27);
   text-decoration: none;
   font-size: 18px;
   font-weight: 500;
}

.nav .active {
   color: #049a77;
}