.container_err {
   position: relative;
   min-height: 625px;
}

.container h1 {
   position: absolute;
   font-size: 30px;
   /* text-transform: uppercase; */
   font-weight: 800;
   color: gold;
   padding: 100px 55px;
}

.container h2 {
   position: absolute;
   font-size: 27px;
   /* text-transform: uppercase; */
   font-weight: 600;
   color: whitesmoke;
   padding: 130px 55px;
}